name: Build Android APK

on:
  workflow_dispatch:
    inputs:
      site_url:
        description: 'Web Site URL'
        required: true
      app_name:
        description: 'App Name'
        required: true
      user_id:
        description: 'User ID'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Kodları Çek
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Java Kurulumu (CACHE BURADA BAŞLIYOR)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle' # <-- BU SATIR İNDİRMELERİ HAFIZADA TUTAR

    # 3. Gradle'ı Daha Akıllı Hale Getir
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        cache-read-only: false # Cache'e yazma izni ver

    # 4. İzinleri Ayarla
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # 5. HIZLI DERLEME (Build) - Parallel ve Offline mod eklendi
    - name: Build APK
      run: ./gradlew assembleDebug --parallel --build-cache --no-daemon
      
    # 6. APK'yı Yükle (Artifacts)
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
