name: Build Custom SaaS App

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Uygulama Paket Adı (Örn: com.kullanici.app)'
        required: true
      app_name:
        description: 'Uygulama Görünür Adı'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Change Package Name & App Name
        run: |
          # build.gradle içindeki hem namespace'i hem applicationId'yi tek seferde değiştirir
          sed -i "s/com.kodhocasi.template/${{ github.event.inputs.package_name }}/g" app/build.gradle
          
          # strings.xml içindeki uygulama ismini değiştirir
          sed -i "s/TemplateApp/${{ github.event.inputs.app_name }}/g" app/src/main/res/values/strings.xml

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.app_name }}-Release-APK
          path: app/build/outputs/apk/release/*.apk
          retention-days: 5
