name: App Factory

on:
  repository_dispatch:
    types: [build-app-request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları İndir
        uses: actions/checkout@v4

      - name: Java Kur (JDK 17)
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Cache
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: current

      - name: Script Çalıştır
        run: |
          sed -i 's/\r$//' scripts/prep_build.sh
          chmod +x gradlew
          chmod +x scripts/prep_build.sh
          
          echo "Script Başlatılıyor..."
          # 4. Parametre olarak ICON_URL ekledik
          ./scripts/prep_build.sh \
            "${{ github.event.client_payload.package_name }}" \
            "${{ github.event.client_payload.app_name }}" \
            "${{ github.event.client_payload.config_url }}" \
            "${{ github.event.client_payload.icon_url }}"  \
            '${{ github.event.client_payload.ads_config }}'

      - name: APK Derle (Debug)
        run: ./gradlew assembleDebug --no-daemon

      - name: APK Yükle
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.client_payload.app_name }}-APK
          path: app/build/outputs/apk/debug/app-debug.apk
          retention-days: 1
