name: Build Native Android

on:
  repository_dispatch:
    types: [build-app-request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java (JDK 17)
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # HIZLANDIRMA (CACHE)
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: current

      # İZİNLERİ VER VE SCRİPTİ ÇALIŞTIR (DÜZELTME BURADA)
      - name: Configure App & Clean Resources
        run: |
          # Gradlew ve Script'e çalıştırma izni veriyoruz
          chmod +x gradlew
          chmod +x scripts/prep_build.sh
          
          # Scripti çalıştırıyoruz
          ./scripts/prep_build.sh \
            "${{ github.event.client_payload.package_name }}" \
            "${{ github.event.client_payload.app_name }}" \
            "${{ github.event.client_payload.m3u_url }}"

      # DERLEME
      - name: Build APK
        run: ./gradlew assembleRelease --no-daemon

      # APK YÜKLEME
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.client_payload.app_name }}-apk
          path: app/build/outputs/apk/release/app-release-unsigned.apk
